# Ejecutable del proyecto
ft_nmap

# Archivos objeto y compilación
*.o
*.a
*.so

# Archivos de depuración
*.dSYM/
*.gdb

# Core dumps (solo archivos, no directorios)
core.*
vgcore.*

# Archivos temporales y editores
*.swp
*.swo
*~
.vscode/
.DS_Store

# Directorios de prueba
test/
pcaps/
